body {
  
  background-image: url(fondo.png);
  min-height: 100vh;
  min-width: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}



form {
  background-color: #EBF5FB;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.menu {
  display: none;
}

.doctors-container {
  display: flex;
  justify-content: center;
}

.doctor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.doctor-button {
  width: 200px;
  height: 200px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
}

.doctor-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.sub-options {
  margin-top: 10px;
  display: none;
  text-align: center;
}

.form-container {
  display: none;
  text-align: left;
  float: left;
}

.pre-note {
  width: 8000px;
  height: 400px;
  resize: none;
  text-align: left;
  margin-top: 20px;
  position: absolute;
  right: 400px;
}

.text-container {
  text-align: left;
  margin-top: 20px;
  position: absolute;
  right: 400px
}